{% extends "base.html" %}

{% block content %}
    <h1>Build a blog</h1>
    <ul>
        {% for entry in all_entries %}
            <li>
                <h2>
                    <a href="/blog?id={{ entry.id }}">{{ entry.title }}</a>
                </h2>
                <p>{{ entry.body }}</p>
                <p>{{ entry.created_on }}</p>
                <p id="author">Written by <a href="blog?user={{entry.owner.id}}">{{entry.owner.email}}</a></p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}