{% extends 'base.html' %}

{% block content %}

<h1>Signup or Register!</h1>
<form action"/signup" method="POST">
    
            <label for="username">Username</label>
            <input type="text" name="username" id="username" value="{{ username }}">
            </br>
            <p  style="color:red;" class"="error">{{ username_error }}</p>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            </br>       
            <p style="color:blue;" class="error">{{ password_error }} </p>
            <label for="verify">Verify Password</label>
            <input type="password" name="verify" id="verify">
            </br>
            <p style="color:darkgreen;"class="error">{{ verify_error }}</p>
           
            <input type="submit" value="Sign up!">
</form>
{% endblock %}